## Exercise 00. Load and save ##

## Imports ##

In [19]:
import pandas as pd

## Task ##

## 1. Read ##
1. Read_csv:
   + Отфильтровать строки с индексами 2 и 3 с помощью аргумента skiprows. Мы знаем, что эти наблюдения были ложными.
   + Отфильтровать последние две строки с конца (footer) с помощью аргумента skipfooter. Мы знаем, что эти наблюдения тоже были ложными.
   + Присвоить следующим столбцам имена: datetime, user.
   + Использовать datetime как индексный столбец.

In [20]:
df = pd.read_csv("../data/feed-views.log", sep='\t', skiprows=[2, 3], header=None, names=['datetime', 'user'], index_col='datetime', skipfooter=2, engine='python')

Reading csv results:

In [21]:
df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [22]:
df.tail()

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

## 2. Rename ##

2. Переименовать datetime в date_time.

In [23]:
df.index.rename('date_time', inplace=True)
df.head(2)

                             user
date_time
2020-04-17 12:01:08.463179  artem
2020-04-17 12:01:23.743946  artem

## 3. Write ##

3. To_csv:
   + Использовать ‘;’ в качестве разделителя.
   + Сохранить в файл с именем feed-views-semicolon.log.

In [24]:
df.to_csv("../data/feed-views-semicolon.log", sep=';')