## Exercise 00. Select ##

## Imports ##

In [13]:
import pandas as pd
import sqlite3

## Task ##

## Connection and schema ##
1. Поместите базу данных в подпапку data внутри директории src.

2. Создайте соединение с базой данных, используя библиотеку sqlite3.

3. Получите схему таблицы pageviews с помощью pd.io.sql.read_sql() и запроса "PRAGMA table_info(pageviews);".

4. Получите только первые десять строк таблицы pageviews, чтобы понять её структуру.

In [14]:
conn = sqlite3.connect('../data/checking-logs.sqlite')
schema = pd.read_sql('PRAGMA table_info(pageviews);', conn)
# pd.io.sql.read_sql() - устарел и не существует

print(schema)

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

In [15]:
first_ten = pd.read_sql('SELECT * FROM pageviews LIMIT 10;', conn)
first_ten.head(10)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

## Subtable ##
5. Получите подтаблицу с помощью одного запроса, где:
    + Используются только "uid" и "datetime".
    + Используются только данные о пользователях (user_*), а не о администраторах.
    + Данные отсортированы по "uid" по возрастанию.
    + Колонка индекса — "datetime".
    + "datetime" конвертируется в DatetimeIndex.
    + Название DataFrame — pageviews.

6. Закройте соединение с базой данных.

In [16]:
pageviews = pd.read_sql("SELECT uid, datetime FROM pageviews WHERE uid LIKE '%user%' ORDER BY uid;", conn, parse_dates=['datetime'], index_col='datetime')
print(pageviews.index)

DatetimeIndex(['2020-04-26 21:53:59.624136', '2020-04-26 22:06:19.478143',
               '2020-04-26 22:12:09.614497', '2020-04-30 19:29:01.831635',
               '2020-05-05 20:26:32.894852', '2020-05-07 18:51:12.029577',
               '2020-05-11 21:56:54.292312', '2020-05-14 22:56:14.464582',
               '2020-05-14 23:59:38.758438', '2020-05-15 00:05:27.798227',
               ...
               '2020-05-19 11:42:52.923123', '2020-05-19 11:53:36.247138',
               '2020-05-19 11:55:47.392661', '2020-05-19 12:04:10.045383',
               '2020-04-17 22:46:26.785035', '2020-04-29 16:51:21.877630',
               '2020-05-09 20:30:47.034282', '2020-05-22 11:30:18.368990',
               '2020-05-21 16:28:28.217529', '2020-05-21 16:36:40.915488'],
              dtype='datetime64[ns]', name='datetime', length=987, freq=None)

In [17]:
pageviews.head(10)

                               uid
datetime
2020-04-26 21:53:59.624136  user_1
2020-04-26 22:06:19.478143  user_1
2020-04-26 22:12:09.614497  user_1
2020-04-30 19:29:01.831635  user_1
2020-05-05 20:26:32.894852  user_1
2020-05-07 18:51:12.029577  user_1
2020-05-11 21:56:54.292312  user_1
2020-05-14 22:56:14.464582  user_1
2020-05-14 23:59:38.758438  user_1
2020-05-15 00:05:27.798227  user_1

In [18]:
conn.close()