## Exercise 03. Selects and aggregations ##

## Imports ##

In [18]:
import pandas as pd

## Task ##

## 1. Load Json ##
1. Загрузите JSON-файл, который вы создали в предыдущем задании, в DataFrame.  
+ Установите столбец 'CarNumber' в качестве индекса.

In [19]:
df = pd.read_json('../data/auto.json')
df.set_index('CarNumber')

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
E432XX77RUS        1   6500.000000  Toyota    Camry
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 4 columns]

## 2. Selections ##
2. Сделайте следующие выборки:  
+ Отобразите строки, где штрафы больше 2100.  
+ Отобразите строки, где штрафы больше 2100 и возврат равен 2.  
+ Отобразите строки, где модели входят в список: ['Focus', 'Corolla'].  
+ Отобразите строки, где номер автомобиля входит в список: ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'].

In [20]:
df[df['Fines'] > 2100]

        CarNumber  Refund         Fines        Make    Model
0    Y163O8161RUS       2   3200.000000        Ford    Focus
1     E432XX77RUS       1   6500.000000      Toyota    Camry
4    92918M178RUS       1   5700.000000        Ford    Focus
5    H234YH197RUS       2   6000.000000        Ford    Focus
6    E40577152RUS       1   8594.586466        Ford    Focus
..            ...     ...           ...         ...      ...
717  O718MM163RUS       2   8594.586466        Ford    Focus
718  7065C8197RUS       2  11400.000000  Volkswagen   Passat
719  O22097197RUS       1  24300.000000        Ford    Focus
721  M0309X197RUS       1  22300.000000        Ford    Focus
724  H419XE197RUS       2   8594.586466      Toyota  Corolla

[455 rows x 5 columns]

In [21]:
df[df['Fines'] > 2100][df['Refund'] == 2]

C:\Users\vtsab\AppData\Local\Temp\ipykernel_432\3939380921.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['Fines'] > 2100][df['Refund'] == 2]

        CarNumber  Refund         Fines        Make    Model
0    Y163O8161RUS       2   3200.000000        Ford    Focus
5    H234YH197RUS       2   6000.000000        Ford    Focus
7    707987163RUS       2   2200.000000        Ford    Focus
8    K330T8197RUS       2   8200.000000       Skoda  Octavia
12   M592CH197RUS       2   8594.586466       Skoda  Octavia
..            ...     ...           ...         ...      ...
715  O136HO197RUS       2   7800.000000      Toyota  Corolla
716  O68897197RUS       2  12300.000000        Ford    Focus
717  O718MM163RUS       2   8594.586466        Ford    Focus
718  7065C8197RUS       2  11400.000000  Volkswagen   Passat
724  H419XE197RUS       2   8594.586466      Toyota  Corolla

[309 rows x 5 columns]

In [22]:
df[df['Model'].isin(['Focus', 'Corolla'])]

        CarNumber  Refund         Fines    Make    Model
0    Y163O8161RUS       2   3200.000000    Ford    Focus
2     7184TT36RUS       1   2100.000000    Ford    Focus
3    X582HE161RUS       2   2000.000000    Ford    Focus
4    92918M178RUS       1   5700.000000    Ford    Focus
5    H234YH197RUS       2   6000.000000    Ford    Focus
..            ...     ...           ...     ...      ...
720  Y163O8161RUS       2   1600.000000    Ford    Focus
721  M0309X197RUS       1  22300.000000    Ford    Focus
722  O673E8197RUS       2    600.000000    Ford    Focus
723  8610T8154RUS       1   2000.000000    Ford    Focus
724  H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 5 columns]

In [23]:
df[df['CarNumber'].isin(['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'])]

        CarNumber  Refund          Fines  Make  Model
28   92928M178RUS       1    8594.586466  Ford  Focus
35   H115YO163RUS       1    2200.000000  Ford  Focus
71   7788KT197RUS       2   12000.000000  Ford  Focus
98   X758HY197RUS       2   24200.000000  Ford  Focus
158  X758HY197RUS       2   72600.000000  Ford  Focus
183  Y7689C197RUS       1   27000.000000  Ford  Focus
191  92928M178RUS       1     600.000000  Ford  Focus
215  H115YO163RUS       1    8594.586466  Ford  Focus
272  H115YO163RUS       2    1100.000000  Ford  Focus
283  7788KT197RUS       2    8594.586466  Ford  Focus
376  7788KT197RUS       1   20000.000000  Ford  Focus
401  X758HY197RUS       2  145200.000000  Ford  Focus
465  92928M178RUS       1    1200.000000  Ford  Focus
531  Y7689C197RUS       2    9000.000000  Ford  Focus
554  Y7689C197RUS       2   45000.000000  Ford  Focus
555  7788KT197RUS       2    4000.000000  Ford  Focus
665  Y7689C197RUS       1   36000.000000  Ford  Focus
674  92928M178RUS       2    3000.000000  Ford  Focus

## 3. Make and Model aggregations ##
3. Выполните агрегации по марке и модели:  
+ Отобразите медианные значения штрафов, сгруппированные по марке.  
+ Отобразите медианные значения штрафов, сгруппированные по марке и модели.  
+ Отобразите количество штрафов, сгруппированных по марке и модели, чтобы понять, можно ли доверять медианным значениям.  
+ Отобразите минимальные и максимальные штрафы, сгруппированные по марке и модели, чтобы лучше понять разброс.  
+ Отобразите стандартное отклонение штрафов, сгруппированных по марке и модели, чтобы лучше понять разброс.

In [24]:
df.groupby(df['Make'])['Fines'].median()

Make
Audi          4200.0
BMW           6500.0
Ford          3500.0
Skoda         3250.0
Toyota        7700.0
Volkswagen    4300.0
Volvo         8500.0
Name: Fines, dtype: float64

In [25]:
df.groupby(['Make', 'Model'])['Fines'].median()

Make        Model
Ford        Focus      3500.0
            Mondeo     7650.0
Skoda       Octavia    3250.0
Toyota      Camry      7700.0
            Corolla    7700.0
Volkswagen  Golf       4800.0
            Jetta      2800.0
            Passat     3500.0
            Touareg    5800.0
Name: Fines, dtype: float64

In [26]:
df.groupby(['Make', 'Model'])['Fines'].count()

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

In [27]:
df.groupby(['Make', 'Model'])['Fines'].agg(Min='min', Max='max')

                       Min            Max
Make       Model
Ford       Focus     100.0  180000.000000
           Mondeo   1100.0   46200.000000
Skoda      Octavia   300.0  145000.000000
Toyota     Camry     500.0   22400.000000
           Corolla   900.0   34300.000000
Volkswagen Golf      200.0  168000.000000
           Jetta     500.0   46000.000000
           Passat    100.0   29700.000000
           Touareg   500.0    8594.586466

In [28]:
df.groupby(['Make', 'Model'])['Fines'].std()

Make        Model
Ford        Focus      15041.269437
            Mondeo     18987.329108
Skoda       Octavia    24339.742174
Toyota      Camry       6410.250654
            Corolla     9629.325617
Volkswagen  Golf       36950.839950
            Jetta      17743.026799
            Passat      6969.739135
            Touareg     3461.778173
Name: Fines, dtype: float64

## 4. Car numbers aggregations ##
4. Выполните агрегации по номерам автомобилей:  
+ Отобразите номера автомобилей, сгруппированные по количеству штрафов в порядке убывания. Мы хотим найти тех, кто чаще всего нарушает закон.  
+ Выберите из исходного DataFrame все строки, соответствующие автомобилю с наибольшим количеством штрафов. Хотим рассмотреть подробнее.  
+ Отобразите номера автомобилей, сгруппированные по сумме штрафов в порядке убывания. Мы хотим найти тех, кто заплатил больше всего.  
+ Выберите из исходного DataFrame все строки, соответствующие автомобилю с наибольшей суммой штрафов. Хотим рассмотреть подробнее.  
+ Отобразите таблицу, которая отвечает на вопрос: «Есть ли номера автомобилей, связанные с разными моделями?»

In [29]:
sorted_counts = df.groupby('CarNumber')['Fines'].count().sort_values(ascending=False)
sorted_counts

CarNumber
Y7689C197RUS    4
7788KT197RUS    4
92928M178RUS    4
Y7129Y50RUS     3
X758HY197RUS    3
               ..
Y967O8197RUS    1
Y965O8197RUS    1
Y965EE197RUS    1
Y964O8197RUS    1
Y964EE197RUS    1
Name: Fines, Length: 531, dtype: int64

In [30]:
df[df['CarNumber'] == sorted_counts.index[0]]

        CarNumber  Refund    Fines  Make  Model
183  Y7689C197RUS       1  27000.0  Ford  Focus
531  Y7689C197RUS       2   9000.0  Ford  Focus
554  Y7689C197RUS       2  45000.0  Ford  Focus
665  Y7689C197RUS       1  36000.0  Ford  Focus

In [31]:
sorted_ammounts = df.groupby('CarNumber')['Fines'].sum().sort_values(ascending=False)
sorted_ammounts

CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
Y166O8161RUS       100.0
K326T8197RUS       100.0
Y195O8161RUS       100.0
C58078163RUS       100.0
705787163RUS       100.0
Name: Fines, Length: 531, dtype: float64

In [32]:
df[df['CarNumber'] == sorted_ammounts.index[0]]

        CarNumber  Refund     Fines  Make  Model
98   X758HY197RUS       2   24200.0  Ford  Focus
158  X758HY197RUS       2   72600.0  Ford  Focus
401  X758HY197RUS       2  145200.0  Ford  Focus

In [33]:
# Не учитывая null-значения
df.groupby('CarNumber')['Model'].nunique().sort_values(ascending=False)

CarNumber
Y973O8197RUS    1
704687163RUS    1
704787163RUS    1
Y7699C197RUS    1
Y7689C197RUS    1
               ..
M5039X197RUS    0
H837YK197RUS    0
96907X197RUS    0
Y687HM197RUS    0
Y693HM197RUS    0
Name: Model, Length: 531, dtype: int64

In [34]:
# Или более предметно, комбинируя изготовителя и модель, с учетом null-значений
unique_combinations = df[['CarNumber', 'Make', 'Model']].drop_duplicates()
result = unique_combinations.groupby('CarNumber').size()
result.sort_values(ascending=False)
# Для первого номера в одном случае указана модель, в другом - null.

CarNumber
E316EH197RUS    2
704687163RUS    1
704787163RUS    1
704987163RUS    1
705287163RUS    1
               ..
Y965O8197RUS    1
Y966O8197RUS    1
Y967O8197RUS    1
Y969O8197RUS    1
Y973O8197RUS    1
Length: 531, dtype: int64