## Exercise 05. Pandas optimizations ##

## Imports ##

In [19]:
import pandas as pd
import gc

## Task ##

## 1. Read CSV ##
1. Прочитать файл `fines.csv`, который вы сохранили в предыдущем упражнении.

In [20]:
df = pd.read_csv('../data/fines.csv')
df.head()

      CarNumber  Refund   Fines    Make  Model  Year
0  Y163O8161RUS       2  3200.0    Ford  Focus  1991
1   E432XX77RUS       1  6500.0  Toyota  Camry  2010
2   7184TT36RUS       1  2100.0    Ford  Focus  1995
3  X582HE161RUS       2  2000.0    Ford  Focus  2003
4  92918M178RUS       1  5700.0    Ford  Focus  1998

## 2. Iterations ##
2. Итерации: во всех следующих подзадачах необходимо вычислить `fines / refund * year` для каждой строки. Создайте новый столбец с рассчитанными данными. Измерьте время выполнения, используя магическую команду `%%timeit` в ячейке.
+ Напишите функцию, которая перебирает DataFrame с помощью `for i in range(0, len(df))`, `iloc`, и `append()` для списка. Назначьте результат функции в новый столбец DataFrame.
+ Сделайте это с помощью `iterrows()`.
+ Сделайте с помощью `apply()` и лямбда-функции.
+ Используйте объекты Series из DataFrame.
+ Сделайте так же, как в предыдущем пункте, но с помощью `.values`.

In [21]:
df['Calculation'] = pd.Series()
df['Fines'] = df['Fines'].str.replace(',', '').astype(float)
df['Refund'] = df['Refund'].astype(int)
df

        CarNumber  Refund   Fines    Make    Model  Year Calculation
0    Y163O8161RUS       2  3200.0    Ford    Focus  1991         NaN
1     E432XX77RUS       1  6500.0  Toyota    Camry  2010         NaN
2     7184TT36RUS       1  2100.0    Ford    Focus  1995         NaN
3    X582HE161RUS       2  2000.0    Ford    Focus  2003         NaN
4    92918M178RUS       1  5700.0    Ford    Focus  1998         NaN
..            ...     ...     ...     ...      ...   ...         ...
725     A123BC456       1  1500.0   Honda    Civic  2005         NaN
726     B456DE789       2  4200.0     BMW       X5  2012         NaN
727     C789FG012       1  3300.0   Mazda        3  2008         NaN
728     D012HI345       2  2800.0  Nissan   Altima  2015         NaN
729     E345JK678       1  5500.0  Subaru  Impreza  2018         NaN

[730 rows x 7 columns]

In [22]:
%%timeit
l = []
if len(l) > 0:
    l = []
for i in range(0, len(df)):
    l.append(df.iloc[i, 2] / df.iloc[i, 1] * df.iloc[i, 5])
df['Calculation'] = l

27.4 ms ± 2.04 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [23]:
%%timeit
for i, row in df.iterrows():
    row['Calculation'] = row['Fines'] / row['Refund'] * row['Year']

27.6 ms ± 6.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [24]:
%%timeit
df['Calculation'] = df.apply(lambda row: row['Fines'] / row['Refund'] * row['Year'], axis=1)

5.46 ms ± 513 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [25]:
%%timeit
df['Calculation'] = df['Fines'] / df['Refund'] * df['Year']

159 μs ± 7.18 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [26]:
%%timeit
df['Calculation'] = (df['Fines'].values / df['Refund'].values) * df['Year'].values

65.2 μs ± 5.73 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [27]:
df.head()

      CarNumber  Refund   Fines    Make  Model  Year  Calculation
0  Y163O8161RUS       2  3200.0    Ford  Focus  1991    3185600.0
1   E432XX77RUS       1  6500.0  Toyota  Camry  2010   13065000.0
2   7184TT36RUS       1  2100.0    Ford  Focus  1995    4189500.0
3  X582HE161RUS       2  2000.0    Ford  Focus  2003    2003000.0
4  92918M178RUS       1  5700.0    Ford  Focus  1998   11388600.0

## 3. Indexing ##
3. Индексация: измерьте время с помощью магической команды `%%timeit` в ячейке.
+ Получите строку по конкретному CarNumber, например, `"O136HO197RUS."`
+ Установите индекс в вашем DataFrame по CarNumber.
+ Опять получите строку по тому же CarNumber.

In [28]:
%%timeit
df[df['CarNumber'] == 'O136HO197RUS']

223 μs ± 26.9 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [29]:
df.set_index('CarNumber')

              Refund   Fines    Make    Model  Year  Calculation
CarNumber
Y163O8161RUS       2  3200.0    Ford    Focus  1991    3185600.0
E432XX77RUS        1  6500.0  Toyota    Camry  2010   13065000.0
7184TT36RUS        1  2100.0    Ford    Focus  1995    4189500.0
X582HE161RUS       2  2000.0    Ford    Focus  2003    2003000.0
92918M178RUS       1  5700.0    Ford    Focus  1998   11388600.0
...              ...     ...     ...      ...   ...          ...
A123BC456          1  1500.0   Honda    Civic  2005    3007500.0
B456DE789          2  4200.0     BMW       X5  2012    4225200.0
C789FG012          1  3300.0   Mazda        3  2008    6626400.0
D012HI345          2  2800.0  Nissan   Altima  2015    2821000.0
E345JK678          1  5500.0  Subaru  Impreza  2018   11099000.0

[730 rows x 6 columns]

In [30]:
%%timeit
df[df.index == 'O136HO197RUS']

108 μs ± 4.99 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

## 4. Downcasting ##
4. Даункастинг:
+ Выполните `df.info(memory_usage='deep')` и обратите внимание на тип данных и использование памяти.
+ Создайте копию вашего начального DataFrame в другой DataFrame `optimized_df`.
+ Сделайте даункастинг с `float64` до `float32` для всех столбцов.
+ Сделайте даункастинг с `int64` до минимального возможного числового типа.
+ Выполните `info(memory_usage='deep')` для вашего нового DataFrame. Обратите внимание на типы данных и использование памяти.

In [31]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CarNumber    730 non-null    object
 1   Refund       730 non-null    int64
 2   Fines        730 non-null    float64
 3   Make         730 non-null    object
 4   Model        721 non-null    object
 5   Year         730 non-null    int64
 6   Calculation  730 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 143.0 KB

In [32]:
optimized_df = df.copy()

optimized_df['Fines'] = pd.to_numeric(optimized_df['Fines'], downcast='float')
optimized_df['Calculation'] = pd.to_numeric(optimized_df['Calculation'], downcast='float')

optimized_df['Refund'] = pd.to_numeric(optimized_df['Refund'], downcast='integer')
optimized_df['Year'] = pd.to_numeric(optimized_df['Refund'], downcast='integer')

optimized_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CarNumber    730 non-null    object
 1   Refund       730 non-null    int8
 2   Fines        730 non-null    float32
 3   Make         730 non-null    object
 4   Model        721 non-null    object
 5   Year         730 non-null    int8
 6   Calculation  730 non-null    float64
dtypes: float32(1), float64(1), int8(2), object(3)
memory usage: 130.1 KB

## 5. Categories ##
5. Категории:
+ Измените тип колонок с `object` на `category`.
+ В этот раз проверьте использование памяти. Оно, вероятно, уменьшится в 2–3 раза по сравнению с исходным DataFrame.

In [33]:
optimized_df['CarNumber'] = optimized_df['CarNumber'].astype('category')
optimized_df['Make'] = optimized_df['Make'].astype('category')
optimized_df['Model'] = optimized_df['Model'].astype('category')
optimized_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CarNumber    730 non-null    category
 1   Refund       730 non-null    int8
 2   Fines        730 non-null    float32
 3   Make         730 non-null    category
 4   Model        721 non-null    category
 5   Year         730 non-null    int8
 6   Calculation  730 non-null    float64
dtypes: category(3), float32(1), float64(1), int8(2)
memory usage: 63.1 KB

## 6. Memory  ##
6. Очистка памяти:
+ Используя библиотеку `gc` и команду `%reset_selective`, очистите память только для вашего начального DataFrame.

In [34]:
print(optimized_df)
del df
gc.collect()
%reset_selective -f /^df$/

        CarNumber  Refund   Fines    Make    Model  Year  Calculation
0    Y163O8161RUS       2  3200.0    Ford    Focus     2    3185600.0
1     E432XX77RUS       1  6500.0  Toyota    Camry     1   13065000.0
2     7184TT36RUS       1  2100.0    Ford    Focus     1    4189500.0
3    X582HE161RUS       2  2000.0    Ford    Focus     2    2003000.0
4    92918M178RUS       1  5700.0    Ford    Focus     1   11388600.0
..            ...     ...     ...     ...      ...   ...          ...
725     A123BC456       1  1500.0   Honda    Civic     1    3007500.0
726     B456DE789       2  4200.0     BMW       X5     2    4225200.0
727     C789FG012       1  3300.0   Mazda        3     1    6626400.0
728     D012HI345       2  2800.0  Nissan   Altima     2    2821000.0
729     E345JK678       1  5500.0  Subaru  Impreza     1   11099000.0

[730 rows x 7 columns]

In [35]:
try:
    print(df)
except NameError:
    print("Объект df_original удалён.")

Объект df_original удалён.

In [36]:
print(optimized_df)

        CarNumber  Refund   Fines    Make    Model  Year  Calculation
0    Y163O8161RUS       2  3200.0    Ford    Focus     2    3185600.0
1     E432XX77RUS       1  6500.0  Toyota    Camry     1   13065000.0
2     7184TT36RUS       1  2100.0    Ford    Focus     1    4189500.0
3    X582HE161RUS       2  2000.0    Ford    Focus     2    2003000.0
4    92918M178RUS       1  5700.0    Ford    Focus     1   11388600.0
..            ...     ...     ...     ...      ...   ...          ...
725     A123BC456       1  1500.0   Honda    Civic     1    3007500.0
726     B456DE789       2  4200.0     BMW       X5     2    4225200.0
727     C789FG012       1  3300.0   Mazda        3     1    6626400.0
728     D012HI345       2  2800.0  Nissan   Altima     2    2821000.0
729     E345JK678       1  5500.0  Subaru  Impreza     1   11099000.0

[730 rows x 7 columns]